{% extends 'base.html.twig' %}

{% block title %}Registro{% endblock %}

{% block body %}
    <h1>Registro</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nombre, {
            label: 'Nombre'
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'Email'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Contraseña'
        }) }}
       {{ form_row(registrationForm.grupos, { label: 'Grupos' }) }}

        <button type="submit" class="btn">Registrarse</button>
    {{ form_end(registrationForm) }}
{% endblock %}
