<a href="/usuarios">Atrás</a>
<br>
<h1>{{ usuario.nombre }}</h1>
<p>Usuario {{ usuario.nombre }} con id {{ usuario.id }} </p>
<br>
<a href="/usuarios/editar/{{ usuario.id }}">Editar</a>
<a href="/usuarios/{{ usuario.id }}/delete">Eliminar</a>