<a href="/usuarios/{{ usuario.id }}">Atrás</a>
<br>
<h1>{{ usuario.nombre }}</h1>
<br>
<form action="{{ path('usuarios_crear', { id: usuario.id }) }}" method="post">
    <input type="hidden" name="id" value="{{ usuario.id }}">
    <input type="text" name="nombre" value="{{ usuario.nombre }}">
    <input type="email" name="email" value="{{ usuario.email }}">
    <input type="password" name="password" placeholder="Nueva contraseña">
    <button type="submit">Guardar</button>
</form>
